<!-- head` -->
<%- include("includes/head") %>

<!-- sidebar -->
<%- include("includes/sidebar") %>

<!-- img -->
<%- include("includes/img") %>

<!-- content box  -->
<div id="topPusher" class=" text-center">
  <!-- clock -->
  <p id="realTimeClock" class="display-4"></p>
  <div>
    <!-- submit btn -->
    <form action="" class="">
      <input type="submit" class="rounded b-no bg-warning <%=
                ((btnVisible && !clockOutState) ?"":"d-none") %>" _+ value="Clock Out" /> <input type="submit" class="rounded b-no
                bg-warning <%= ((btnVisible && !clockInState) ?"":"d-none") %>" value="Clock In" />
    </form>
    <hr>
    <!-- table  -->
    <table class="leaveTable">
      <tr>
        <th>Date</th>
        <th>Clock In</th>
        <th>Reason</th>
        <th>Clock Out</th>
        <th>Reason</th>
      </tr>
      <tr>
        <td>date</td>
        <td>in</td>
        <td>Reason</td>
        <td>out</td>
        <td>Reason</td>
      </tr>
    </table>

  </div>
</div>

<!-- foot -->
<%- include("includes/foot") %>