<!-- head` -->
<%- include("includes/head") %>

<!-- sidebar -->
<%- include("includes/sidebar") %>

<!-- img -->
<%- include("includes/img") %>

<!-- content box  -->
<div id="topPusher" class="text-center">
  <!-- clock -->
  <p id="realTimeClock" class="display-4"></p>
  <div>
    <!-- submit btn -->
    <form method="post" action="/att" class="">
      <input
        type="submit"
        class="rounded b-no bg-warning <%= (btnVisible && !clockInOutState) ? '' : 'd-none' %>"
        value="Clock In"
      />
      <input
        type="submit"
        class="rounded b-no bg-warning <%= (btnVisible && clockInOutState) ? '' : 'd-none' %>"
        value="Clock Out"
      />
    </form>
    <hr />
    <!-- table  -->
    <table class="noBorderTable">
      <tr>
        <th>Date</th>
        <th>Clock In</th>
        <th>Reason</th>
        <th>Clock Out</th>
        <th>Reason</th>
      </tr>
      <% if(data.length > 0) { %> <% for(let index = 0; index <
      data.length;index++){ %>
      <tr>
        <td><%= moment(data[index].in).format('L') %></td>
        <td><%= moment(data[index].in).format('LT') %></td>
        <td><%= data[index].reason_in %></td>
        <td><%= moment(data[index].out).format('LT') %></td>
        <td><%= data[index].reason_out %></td>
      </tr>
      <% } %> <% }else{ %>
      <tr>
        <td colspan="5">No Data</td>
      </tr>
      <% } %>
    </table>
  </div>
</div>

<!-- foot -->
<%- include("includes/foot") %>
