<%- include("includes/head") %>
  <!-- sidebar -->
  <%- include("includes/sidebar" ) %>
    <!-- img -->
    <%- include("includes/img") %>
      <!-- content box  -->
      <div class="" id="topPusher">
        <div class="text-center" style="margin-top: 200px;">
          <p style="color: black" class="display-5">Welcome to My HR System! <%= fullname %>
          </p>
        </div>
        <hr>
      </div>
      </div>
      <%- include("includes/foot") %>