<%- include("includes/head") %>
<!-- sidebar -->
<%- include("includes/sidebar" ,{username:username}) %>
<!-- img -->
<%- include("includes/img") %>
<!-- content box  -->
<div class="h-100">
  <div class="d-flex h-100 align-items-center justify-content-center">
    <p style="color: black" class="display-5">Hello! <%= username %></p>
  </div>
</div>
</div>
<%- include("includes/foot") %>