<%- include("includes/head") %>
    <!-- sidebar -->
    <%- include("includes/sidebar" ) %>
        <!-- img -->
        <%- include("includes/img") %>
            <!-- content box  -->
            <div id="topPusher"></div>
            <h4 class="text-center">My Payroll</h4>

            <!-- years loops -->

            <h4 class="text-center">
                <%= Object.keys(usercico) %>
            </h4>
            <table class="text-center noBorderTable">
                <tr>
                    <td>Month</td>
                    <td>Base Salary</td>
                    <td>Additional</td>
                    <td>Total</td>
                    <td>Attachment</td>
                </tr>
                <!-- month loops -->
                <tr>
                    <td>Month</td>
                    <td>Base Salary</td>
                    <td>Additional</td>
                    <td>Total</td>
                    <td>Attachment</td>
                </tr>
            </table>


            <%- include("includes/foot") %>