<%- include("includes/head") %>
    <!-- sidebar -->
    <%- include("includes/sidebar" ) %>
        <!-- img -->
        <%- include("includes/img") %>
            <!-- content box  -->
            <div id="topPusher"></div>
            <h4 class="text-center">My Payroll</h4>

            <!-- years loops -->
            <% years.map(theYear=>{ %>
                <h4 class="text-center">
                    <%= theYear %>
                </h4>
                <table class="text-center noBorderTable">
                    <tr>
                        <td>Month</td>
                        <td>Base Salary</td>
                        <td>Additional</td>
                        <td>Total</td>
                        <td>Attachment</td>
                    </tr>
                    <!-- month loops -->

                    <% usercico.map(att=>{ %>
                        <tr>
                            <td>
                                <%= moment(att.in).format('MMMM') %>
                            </td>
                            <td>
                                <%= salary %>
                            </td>
                            <td>Additional</td>
                            <td>Total</td>
                            <td>Attachment</td>
                        </tr>
                        <% }) %>
                </table>
                <% }) %>

                    <br>
                    <% if(role==="admin" ){%>
                        <h4 class="text-center">Additional Pay</h4>
                        <select>
                            <% totalUser.map((data)=>{ %>
                                <option value="<%= data.username %>">
                                    <%= data.first_name + " " + data.last_name %>
                                </option>
                                <% }) %>
                        </select>
                        <br>
                        <form method="post" action="/payroll" class="form-control form-custom text-center">
                            Claims <input type="number" value="0" min="0" max="99999" placeholder="Claims" required>
                            Leaves <input type="number" value="0" min="0" max="99999" placeholder="Leaves" required>
                            Others <input type="number" value="0" min="0" max="99999" placeholder="Others" required>
                            Substractions <input type="number" value="0" min="0" max="99999" placeholder="Substractions"
                                required>
                            <button type="submit" class="btn btn-primary">Create Profile</button>

                        </form>
                        <br><br>
                        <% } %>

                            <%- include("includes/foot") %>