<%- include("includes/head") %>
    <!-- sidebar -->
    <%- include("includes/sidebar" ) %>
        <!-- img -->
        <%- include("includes/img") %>
            <!-- content box  -->
            <div id="topPusher"></div>
            <h4 class="text-center">My Payroll</h4>
            <!-- table loops -->
            <% years.map((data)=>{ %>
                <table class="noBorderTable text-center">
                    <h4 class="text-center">
                        <%= data %>
                    </h4>
                    <!-- month loops -->
                    <% months.map((data)=>{ %>
                        <tr>
                            <td>Month</td>
                            <td>Base Salary</td>
                            <td>Additional</td>
                            <td>Total</td>
                            <td>Attachment</td>
                        </tr>
                        <tr>
                            <td>
                                <%= data %>
                            </td>
                            <td>RM <%= salary %>
                            </td>
                            <td>Additional</td>
                            <td>
                                <% totals %>
                            </td>
                            <form style="margin: 0;padding: 0;" action="" method="post">
                                <td><button type="submit" class="btn btn-success">Generate PDF</button></td>
                            </form>
                        </tr>
                        <% }) %>
                </table>
                <% }) %>
                    <br>
                    <h4 class="text-center">Additional Pay</h4>
                    <% if(role==="admin" ){%>
                        <form method="post" action="/payroll" class="form-control form-custom text-center">
                            Claims <input type="number" value="0" min="0" max="99999" placeholder="Claims" required>
                            Leaves <input type="number" value="0" min="0" max="99999" placeholder="Leaves" required>
                            Others <input type="number" value="0" min="0" max="99999" placeholder="Others" required>
                            Substractions <input type="number" value="0" min="0" max="99999" placeholder="Substractions"
                                required>
                            <button type="submit" class="btn btn-primary">Create Profile</button>

                        </form>
                        <% } %>

                            <%- include("includes/foot") %>