<%- include("includes/head")  %>
<%- include("includes/sidebar")  %>
<%- include("includes/img")  %>
<div id="topPusher">
    <%- include("includes/calendar",{days:days})  %>
</div>
<%- include("includes/foot")  %>