<%- include("includes/head") %>
    <%- include("includes/sidebar") %>
        <%- include("includes/img") %>
            <div id="topPusher">
                <h3 class="text-center">Smart Planner</h3>
                <form action="/sp" method="post" class="text-center form-custom">
                    Event Start Date:
                    <input type="date" name="std" required>
                    <br>
                    Event Start Date:
                    <input type="date" name="end" required>
                    <br>
                    <input type="text" class="text-center" placeholder="Description" name="desc" required>
                    <button class="m-1 btn btn-outline-success" type="submit">
                        Create Event
                    </button>
                </form>
                <br>
                <table class="text-center noBorderTable">
                    <tr>
                        <td>ID</td>
                        <td>Start Date</td>
                        <td>End Date</td>
                        <td>Description</td>
                    </tr>
                    <% spdata.map(data=>{ %>
                        <tr>
                            <td>
                                <%= data.idnum %>
                            </td>
                            <td>
                                <%= data.startDate %>
                            </td>
                            <td>
                                <%= data.endDate %>
                            </td>
                            <td>
                                <%= data.description %>
                            </td>
                        </tr>
                        <% }) %>
                </table>
            </div>
            <%- include("includes/foot") %>